* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: sans-serif;
}

#stations {
  background-color: #fff;
  padding: 2rem 2rem;
  max-width: 600px;
  margin: auto;
}

h1 {
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.station:not(:last-child) {
  margin-bottom: 1rem;
}

.docks,
.bikes {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.2rem;
  color: #888;
}

.number {
  font-size: 1.5rem;
  line-height: 3rem;
  width: 3rem;
  margin-right: 0.4rem;
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
}

.low {
  background-color: #d00f0f;
}

.high {
  background-color: #2d8d13;
}

/* https://alligator.io/css/collapsible/ */
input[type='checkbox'] {
  display: none;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 4rem;
}

.lbl-toggle::after {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-left: 0.7rem;
  transform: translateY(-2px);

  transition: transform 0.2s ease-out;
}

.toggle:checked + .lbl-toggle::after {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
